.banner{
  height: 100vh;
}

h1{
  font-size: 55px;
  font-weight: 700;
}

.banner-title {
        position: relative;
        padding-left: 40px;
      }

.banner-title:before {
        content: "";
        display: block;
        width: 35px;
        height: 3px;
        background: #c13f22;
        left: 0;
        top: 50%;
        position: absolute;
      }
